.flip-clock {
    --fcc-flip-duration: 0.5s; /* transition duration when flip card */
    --fcc-spacing: 8px; /* space between unit times and separators */
    --fcc-digit-block-width: 40px; /* width of digit card */
    --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
    --fcc-digit-block-radius: 5px; /* border radius of digit card */
    --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
    --fcc-digit-font-size: 30px; /* font size of digit */
    --fcc-digit-color: var(--primary-color-red); /* color of digit */
    --fcc-label-font-size: 14px; /* font size of label */
    --fcc-label-color: var(--primary-color-blue); /* color of label */
    --fcc-background: var(--neutral-color-desaturated-blue); /* background of digit card */
    --fcc-divider-color: var( --neutral-color-dark-blue); /* color of divider */
    --fcc-divider-height: 1px; /* height of divider */
    --fcc-separator-size: 6px; /* size of colon */
    --fcc-separator-color: none; /* color of colon */
    
  } 

  @media (width <= 450px) {
    /* … */
    .flip-clock {
      scale: 0.82;
    }
  }


  